<div class="row">
  <div class="col">
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container" style="cursor: pointer;">
            <button mat-raised-button color="primary" (click)="addReminder()"
              aria-label="Example icon button with a menu icon">
              <mat-icon>add_circle_outline</mat-icon>&nbsp; Create
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col">
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container" style="cursor: pointer;">
            <button mat-raised-button color="primary" (click)="gotoAlarm()"
              aria-label="Example icon button with a menu icon">Reminder Alarm
              &nbsp;
              <mat-icon>alarm</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
